.env
.env.*
.git
.gitignore
node_modules
vendor
database/database.sqlite
storage/app/public/avatars
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
.claude
